pkgbase = zfs-kmod-dkms-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 0.7.0.1596.g2ffd89fcb
	pkgrel = 1
	url = http://zfsonlinux.org/
	install = zfs-kmod-dkms.install
	arch = i686
	arch = x86_64
	groups = zfsonlinux
	license = CDDL
	makedepends = gcc
	makedepends = make
	makedepends = autoconf
	makedepends = automake
	makedepends = git
	depends = dkms
	provides = zfs
	conflicts = zfs-dkms
	conflicts = zfs-dkms-therp
	conflicts = zfs-dkms-therp-git
	conflicts = zfs-kmod-dkms
	replaces = spl-kmod-dkms-git
	source = zfs-kmod-dkms-git::git+git://github.com/zfsonlinux/zfs.git
	source = zfs-kmod-dkms.install
	sha256sums = SKIP
	sha256sums = fb45023e2f14cb70ad6286c0b73b7346d9e348a6e04d716f0eba4cd943e21c31

pkgname = zfs-kmod-dkms-git

