pkgbase = zfsonlinux-dkms-git
	pkgver = 0.8.0.rc2.71.gd611989fd
	pkgrel = 1
	url = http://zfsonlinux.org/
	arch = x86_64
	groups = zfsonlinux
	license = GPL2
	license = CDDL
	makedepends = gcc
	makedepends = make
	makedepends = autoconf
	makedepends = automake
	makedepends = git
	makedepends = dkms
	provides = zfs
	source = zfs::git+git://github.com/zfsonlinux/zfs.git
	source = zfs-utilities.install
	source = zfs-kmod-dkms.install
	source = zfs-utilities.bash-completion
	source = zfs-utilities.initcpio.install
	source = zfs-utilities.initcpio.hook
	source = zfs-utilities.initcpio.zfsencryptssh.install
	sha256sums = SKIP
	sha256sums = aa5f3fd025c05078067acf01cbad82af322b4b8542d2d1c6a9103338eff6729d
	sha256sums = 07dbd4765f2efae16b1a7781ed10edddc1d8112ad87b7cd17b6cc9736efb14de
	sha256sums = b60214f70ffffb62ffe489cbfabd2e069d14ed2a391fac0e36f914238394b540
	sha256sums = 6bc89af16a6d028cec6237d4159b905b053b05e51fc551b5c906ac9ee1766328
	sha256sums = 8322441756a8f1b6c039f95eee873f1bcf49a776c393a1e70c2029988ce14aa3
	sha256sums = 29080a84e5d7e36e63c4412b98646043724621245b36e5288f5fed6914da5b68

pkgname = zfs-kmod-dkms-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	install = zfs-kmod-dkms.install
	license = CDDL
	depends = dkms
	depends = lsb-release
	conflicts = zfs-dkms
	conflicts = zfs-dkms-therp
	conflicts = zfs-dkms-therp-git
	conflicts = zfs-kmod-dkms
	replaces = spl-kmod-dkms-git

pkgname = zfs-utilities-git
	pkgdesc = Zettabyte File System management utilities.
	install = zfs-utilities.install
	license = CDDL
	depends = zfs-kmod-dkms-git=0.8.0.rc2.71.gd611989fd
	depends = python
	conflicts = zfs-utils
	conflicts = zfs-utils-therp
	conflicts = zfs-utils-therp-git
	conflicts = zfs-utilities
	replaces = spl-utilities-git

