pkgbase = zfs-utilities-git
	pkgdesc = Zettabyte File System management utilities.
	pkgver = 0.7.0.1596.g2ffd89fcb
	pkgrel = 1
	url = http://zfsonlinux.org/
	arch = i686
	arch = x86_64
	groups = zfsonlinux
	license = CDDL
	makedepends = gcc
	makedepends = make
	makedepends = autoconf
	makedepends = automake
	makedepends = git
	depends = zfs-kmod-dkms-git=0.7.0.1596.g2ffd89fcb
	provides = zfs
	conflicts = zfs-utils
	conflicts = zfs-utils-therp
	conflicts = zfs-utils-therp-git
	conflicts = zfs-utilities
	source = zfs-utilities-git::git+git://github.com/zfsonlinux/zfs.git
	source = zfs-utilities.bash-completion
	source = zfs-utilities.initcpio.install
	source = zfs-utilities.initcpio.hook
	sha256sums = SKIP
	sha256sums = b60214f70ffffb62ffe489cbfabd2e069d14ed2a391fac0e36f914238394b540
	sha256sums = 04d9162a7e33dc9c493d5d639f21ff11716572297d872d0ba2cbf2af17be1fea
	sha256sums = 3eb874cf2cbb6c6a0e1c11a98af54f682d6225667af944b43435aeabafa0112f

pkgname = zfs-utilities-git

